<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004326362260-ggg1ppdc2btt8i7hamitk42samtle7og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004326362260-ggg1ppdc2btt8i7hamitk42samtle7og</string>
	<key>API_KEY</key>
	<string>AIzaSyBtdP2zc8irZ8lo3uq9ZdOhxuvkt60xvl4</string>
	<key>GCM_SENDER_ID</key>
	<string>1004326362260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aimimi.aimimi</string>
	<key>PROJECT_ID</key>
	<string>aimimi-b6f0b</string>
	<key>STORAGE_BUCKET</key>
	<string>aimimi-b6f0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004326362260:ios:d85d1f11a8304ee1e6e881</string>
</dict>
</plist>